.login-profile {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.login-profile:hover {
    height: 200px;
    width: 200px;
}

.login-profile-selected {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.login-form {
    height: 25px;
    width: 300px;
}

.login-form:focus {
    border-width: 5px;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}